# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Git LFS — 大文件走 LFS 通道
*.glb filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
